header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin: 40px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

p{
    line-height:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color : rgb(116, 103, 103);
  }

  .bnt{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background: blue;
border-radius: 10px;
text-decoration:none;
color: aliceblue;
padding: 15px 32px;

  }

  h3{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.opcao{

    border-radius: 15px;
    padding: 20px 5px;
    
     
}

.teste{
    display: flex;

}


