header {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

.eu {
    padding-left: 500px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin: 40px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

p {
    line-height: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(116, 103, 103);
}

.bnt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: blue;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    padding: 15px 32px;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.opcao {
    border-radius: 15px;
    padding: 20px 5px;
}

.teste {
    display: flex;
    padding: 1px 42px;
}

.dropdownmenu ul,
.dropdownmenu li {
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    background: gray;
    list-style: none;
    width: 100%;
}

.dropdownmenu li {
    float: left;
    position: relative;
    width: auto;
}

.dropdownmenu a {
    background: #30A6E6;
    color: #FFFFFF;
    display: block;
    font: bold 12px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    word-spacing: 500px;
}

.dropdownmenu li:hover a {
    background: #000000;
}

#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 40px;
    visibility: visible;
}

#submenu li {
    float: none;
    width: 100%;
}

#submenu a:hover {
    background: #DF4B05;
}

#submenu a {
    background-color: #000000;
}